<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emudocs documentation</title>
</head>
<body>
    <%- navbar %>
    <div class="hero">
        <h1>Emudocs</h1>
        <p>A fast, simple article-based website engine</p>
        <div class="dl">
            <a href="https://www.github.com/aworldc/emudocs" class="btn">download for node.js</a>
            <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%22415.7%22%20height%3D%2244.73%22%20version%3D%221.1%22%20viewBox%3D%220%200%20110%2011.84%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m69.66%205.92h39.03%22%20style%3D%22fill%3Anone%3Bstroke-linecap%3Asquare%3Bstroke-width%3A1.323%3Bstroke%3A%23000%22%2F%3E%3Cpath%20d%3D%22m1.323%205.92h39.03%22%20style%3D%22fill%3Anone%3Bstroke-linecap%3Asquare%3Bstroke-width%3A1.323%3Bstroke%3A%23000%22%2F%3E%3Cg%20transform%3D%22translate%28-1.024%20-.01487%29%22%3E%3Cpath%20d%3D%22m51.11%2011.83c-4.351%200.3522-7.612-4.964-5.43-8.725%202.15-4.225%209.286-4.121%2011.05%200.4051%201.665%203.823-1.292%208.617-5.617%208.319zm0-0.7834c4.254%200.3459%206.865-5.416%204.034-8.507-2.487-2.993-8.249-1.998-9.092%201.986-0.9473%203.141%201.718%206.755%205.058%206.521z%22%20style%3D%22stroke-width%3A.245%22%2F%3E%3Cpath%20d%3D%22m66.1%2011.75-2.784-3.901q-0.6168%200.08334-1.133%200.08334h-3.334v3.817h-0.8501v-11.67h4.184q2.2%200%203.451%201.05%201.25%201.033%201.25%202.884%200%201.384-0.7168%202.334-0.7001%200.9335-2.017%201.317l2.917%204.084zm-3.917-4.567q1.867%200%202.85-0.8168%200.9835-0.8335%200.9835-2.35t-0.9835-2.334q-0.9835-0.8335-2.85-0.8335h-3.334v6.334z%22%20style%3D%22stroke-width%3A.245%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"
             alt="or" width="150" style="padding: 5px;">
            <code>$ git clone (Todo: insert git url here)</code>            
        </div>
    </div>
</body>
</html>
